[data-style-id="style-0-1774649054681"],
[data-style-id="style-2-1774649054682"],
[data-style-id="style-4-1774649054682"],
[data-style-id="style-6-1774649054682"],
[data-style-id="style-8-1774649054682"] { transform: rotate(90deg) scale(1, 1) !important; }

[data-style-id="style-1-1774649054681"],
[data-style-id="style-3-1774649054682"],
[data-style-id="style-5-1774649054682"],
[data-style-id="style-7-1774649054682"],
[data-style-id="style-9-1774649054682"] { transform: scale(0.99, 0.99) translate(0px, -11.2px) !important; }

[data-style-id="style-10-1774649054682"] { background-image: linear-gradient(rgb(255, 248, 197), rgb(255, 248, 197)) !important; }

[data-style-id="style-11-1774649054682"],
div#ajax-error-message { background-image: linear-gradient(rgb(255, 235, 233), rgb(255, 235, 233)) !important; }